.mt-5{
    margin-top: 5px;
}

.mt-10{
    margin-top: 10px;
}

.mt-15{
    margin-top: 15px;
}
.ml-5{
    margin-left: 5px;
}

.ml-10{
    margin-left: 10px;
}

.ml-15{
    margin-left: 15px;
}

.fs-12{
    font-size: 12px;
}

.fs-14{
    font-size: 14px;
}

.fs-16{
    font-size: 16px;
}
.fs-20{
    font-size: 20px;
}
.fs-25{
    font-size: 25px;
}
.fs-30{
    font-size: 30px;
}

.t-whites{
    color: whitesmoke;
}